<!-- main-view.component.html -->
<div>
  <app-sidebar (modeChange)="onModeChange($event)"></app-sidebar>
  
  <div *ngIf="currentMode === 'sencillo'">
    <app-reloj-sencillo></app-reloj-sencillo>
  </div>

  <div *ngIf="currentMode === 'digital'">
    <app-digital-clock></app-digital-clock>
  </div>

  <div *ngIf="currentMode === 'analogico'">
    <app-analog-clock></app-analog-clock>
</div>

<div *ngIf="currentMode === 'hexagonal'">
<app-hexan-clock></app-hexan-clock>
</div>

<div *ngIf="currentMode === 'escalera'">
  <app-stair-clock></app-stair-clock>
</div>

<div *ngIf="currentMode === 'pagina'">
  <app-page-clock></app-page-clock>
</div>

<div *ngIf="currentMode === 'escrito'">
  <app-written-clock></app-written-clock>
</div>

<div *ngIf="currentMode === 'termometro'">
  <app-thermo-clock></app-thermo-clock>
</div>

<div *ngIf="currentMode === 'domino'">
  <app-domino-clock></app-domino-clock>
</div>

<div *ngIf="currentMode === 'vela'">
  <app-candle-clock></app-candle-clock>
</div>

<div *ngIf="currentMode === 'ajedrez'">
  <app-chess-clock></app-chess-clock>
</div>

