.container {
  display: flex;
  height: 100vh; /* Ocupa toda la altura de la ventana */
  background-color: #b5651d; /* Color de fondo del sidebar */
}

.sidebar {
  width: 250px; /* Ancho fijo del sidebar */
}


