.sidebar {
  width: 100%;
  padding-top: 10px;
}

.sidebar button {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: bold;
  color: #522d03;
  background-color: #d1ad75;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.sidebar button:hover {
  background-color: #e89145;
}

.sidebar button.selected {
  background-color: #b5651d; 
  color: #ffffff;
}

