/* Contenedor principal */
.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding: 20px;
    background-color: #f8f2ec;
  }
  
  /* Contenedor de la imagen */
  .image-container {
    flex: 1;
    max-width: 500px;
    margin-right: 20px;
  }
  
  .image-container img {
    width: 100%;
    height: auto;
    border-radius: 10px;
  }
  
  /* Formulario de inicio de sesión */
  .login-form {
    flex: 1;
    max-width: 400px;
    background-color: #fffaf4;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  .login-form h2 {
    font-size: 24px;
    color: #5a3818;
    margin-bottom: 20px;
  }
  
  .login-form label {
    display: block;
    font-size: 14px;
    color: #5a3818;
    text-align: left;
    margin-bottom: 5px;
  }
  
  .login-form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    background-color: #f3e6de;
  }
  
  .login-form button {
    width: 100%;
    padding: 10px;
    background-color: #b5651d;
    color: #fff;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .login-form button:hover {
    background-color: #8b4513;
  }
  
  .login-form p {
    margin-top: 10px;
    font-size: 14px;
    color: #5a3818;
  }
  
  .login-form a {
    color: #b5651d;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
  }
  
  .login-form a:hover {
    color: #8b4513;
  }
  