<div class="register-container">
    <!-- Sección izquierda -->
    <div class="register-info">
      <h1>¡Prepárate para descubrir la mejor aplicación para visualizar el tiempo!</h1>
      <p>
        Un diseño intuitivo, funciones innovadoras y una experiencia única te esperan para que explores el paso del tiempo como nunca antes. ¡Déjate sorprender!
      </p>
    </div>
  
    <!-- Sección derecha -->
    <div class="register-form">
      <h2>CREA TU CUENTA</h2>
      <form [formGroup]="registerForm" (ngSubmit)="onRegister()">
        <label for="email">Correo electrónico</label>
        <input
          id="email"
          type="email"
          formControlName="email"
          placeholder="Ingresa tu correo electrónico"
        />
        <div *ngIf="registerForm.get('email')?.invalid && registerForm.get('email')?.touched">
          <small>Correo no válido</small>
        </div>
  
        <label for="password">Contraseña</label>
        <input
          id="password"
          type="password"
          formControlName="password"
          placeholder="Ingresa tu contraseña"
        />
        <div *ngIf="registerForm.get('password')?.invalid && registerForm.get('password')?.touched">
          <small>La contraseña debe tener al menos 6 caracteres</small>
        </div>
  
        <button type="submit" [disabled]="registerForm.invalid">Registrarse</button>
      </form>
      <p>
        ¿Ya tienes cuenta? <a routerLink="/login">Inicia sesión</a>
      </p>
    </div>
  </div>
  
  